html, body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

/*
***************
TEXT STYLING
***************
*/

a:hover {
	text-decoration: none;
}


main h3 {
	border-bottom: 1px solid #727272;
}

a {
	color: #448AFF;
}

html {
	letter-spacing: 0.08em;
}

main h1 {
	color: #212121;
	text-align: center;
	margin-bottom: 2em;
	border-bottom: solid 1px #B6B6B6;
}

/*
***************
BODY COMPONENTS
***************
*/

header {
	box-shadow: 2px 0px 6px rgba(0,0,0,0.2);
	display: flex;
	z-index: 2;
	height: 250px;
	/*background-color: white;*/
}

main {
	display: flex;
	flex: 5 0 auto;
	flex-flow: column;
	align-items: center;
	background-color: #F5F5F5;
	color: #212121;

}

footer {
	display: flex;
	flex: 1;
	width: 100%;
	background-color: #616161;
	color: #B6B6B6;
	border-top: 1px solid #B6B6B6;
}

/*
***************
HEADER COMPONENTS
***************
*/

.nav-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

#site-title {
	align-self: center;
	color: #3A3A3C;
	font-size: 3em;
}

#site-title a {
	text-decoration: none;
	color: #3A3A3C;
}

.website {
	color: #448AFF;
}

nav {
	display: flex;
	
	font-weight: bold;
	border-radius: 2px;
	align-items: center;

}

nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

tab:hover {
	background-color: #F5F5F5;
}

tab:hover a{
	color: #448AFF;
}

tab {
	margin: .5em;
	background-color: #9E9E9E;
	text-align: center;
	flex: 1;
	font-size: 1.5em;
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
	padding: 3px;
}



#logo {
	margin-left: auto;
}

/*
***************
MAIN COMPONENTS
***************
*/

#main-content {
	display: flex;
	width: 80%;
	flex-flow: column;
	flex: 1;
}


#home-contact {
	display: flex;
}



/*
***************
FOOTER COMPONENTS
***************
*/

#copyright {
	align-self: flex-end;
}

/*
***************
HOME CONTACT COMPONENTS
***************
*/

#home-contact-form {
	display: flex;
	flex-flow: column;
	border-radius: 2px;
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,.3);
	width: 500px;
	background-color: #9E9E9E;
	padding: 20px;
	margin-bottom: 2em;
	text-decoration: bold;
}

#home-contact input{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 12px;
}

input {
	border-radius: 2px;
	border: 0;
	padding: .3em;
}
input[type=submit] {
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    border: 0;
    color: white;
    font-weight: bold;
    width: 80px;
    height:25px;
    background: #448AFF;
}
/*
***************
PRICING COMPONENTS
***************
*/

#price-container{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.price{
	background-color: #9E9E9E;
	border-radius: 2px;
	box-shadow: 0px 2px 6px rgba(0,0,0,.3);
	display: flex;
	flex-flow: column;
	margin: 2em;
	align-items: center;
	width: 300px;
	padding: 1em;
}

.number{
	font-weight: bold;
	font-size: 3em;
}

/*
***************
FAQ COMPONENTS
***************
*/

.q{
	/*background-color: #9E9E9E;*/
	color: #9E9E9E;
	font-size: 1.5em;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 2px;
	margin: 3px;
}

.answer{
	margin-left: auto;
	width: 95%;
}

